<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Hello Django</title>
</head>
<body>
    <h1>{{ header }}</h1>
    <p>User: {{ user.name}} Age: {{ user.age }}</p>
    <p>Address: st. {{ addr.0 }} b. {{ addr.1 }} ap. {{ addr.2 }}</p>
    <p>Langs:
    {% for i in langs %} {{ i }} {% endfor %}
    </p>
<img src="{% static "images/MSTA.jpg" %}" alt="Stones along the river" >
</body>
</html>